body, html{
  background-color: black;
  color: orange;
  width: 100%;
  max-width: 2000px;
}
.logo{
  margin-left: 10px;
  width: 110%;
  max-width: 1052px;
  height: 100px;
  margin-bottom: 30px;
}
.logo h1{
  float: left;
  width: 100%;
  max-width: 400px;
  color: orange;
  text-transform: uppercase;
}
.logo a{
  background-color: orange;
  font-size: 20px;
  color: white;
  width: 120px;
  padding: 10px;
  border: 2px solid white;
  text-decoration: none;
  text-align: center;
  float: left;
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 30px;
}
.logo .image{
  margin-left: 10px;
  width: 40px;
  height: 35px;
  vertical-align: middle;
}
.menu{
  margin: 70px 10px 0px 10px;
 width: 96.61%;
 border: 10px orange solid;
 max-width: 2000px;
 height: 910px;
 border-radius: 10px;
}
.menu .titles{
  text-align: center;
}
.menu .cheese{
  width: 100%;
  height: 350px;
}
.menu .first-photo{
  width: 25%;
  height: 10%;
}
.menu .first-photo img{
  width: 250px;
  height: 250px;
  float: left;
}
.menu .first-photo figcaption{
  width: 250px;
  text-align: center;
  display: content;
  margin-bottom: 20px;
}
.menu .first-burger{
  width: 70%; 
  margin-top: 20px;
  padding-left: 10px;
  float: left;
}
.menu .mushroom {
  height: 0px;
  width: 100%;
  height: 350px;
}
.menu .mushroom figure{
  width: 25%;
  height: 10%;
}
.menu .mushroom figure img{
  width: 250px;
  height: 250px;
  float: left;
}
.menu .mushroom figcaption{
  width: 250px;
  text-align: center;
}
.menu .mushroom .second-burger{
  width: 70%;
  float: left;
  margin-top: 20px;
  padding-left: 10px;
}
 .add{
  background-color: orange;
  width: 158px;
  margin-top: 10px;
  transition-duration: 1s;
  transition-delay: 0.1ms;
  transition-property: border-radius,color;
  transition-timing-function: ease;
}
.add:hover{
  border-radius: 10px;
  color: #ccc;
}
input[type="number"]:focus
{
  border: 2px orange solid;
  border-radius: 10px;
  outline: none;
}
input[type="radio"]:checked + label{
  color: white;
}
